<header class="header {{addClass}}">
    <div class="container">
        <div class="header--top">
            {% include "header-main-menu.twig" %}
            <input type="text" name="search" id="">
        </div>
        <h1> le header  ( https://github.com/younesh/kit-static-inte-fromscratsh) </h1>
    </div>
</header>